<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ month_name|title }} Challenge</title>
  </head>

  <body>
    <h1>This {{ month_name|title }} Challenge</h1>

    <h2>{{ text }}</h2>
  </body>
</html>
